@model MvcWorkoutApplication.task

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>task</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.taskName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.taskName)
            @Html.ValidationMessageFor(model => model.taskName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.workoutName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.workoutName)
            @Html.ValidationMessageFor(model => model.workoutName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.time)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.time)
            @Html.ValidationMessageFor(model => model.time)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rev)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.rev)
            @Html.ValidationMessageFor(model => model.rev)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
